## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,12,Bengkulu,ID,76.33,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
1,29,Alta Floresta,BR,77.38,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
2,36,Butaritari,KI,82.56,few clouds,3.0707,172.7902,Isles Sunset Lodge
3,37,Ibra,OM,77.77,clear sky,22.6906,58.5334,مزرعة راحة النفوس المنزفة
4,41,Meulaboh,ID,75.97,overcast clouds,4.1363,96.1285,Kost Pria

In [3]:

# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df[vacation_df["Country"]== "BR"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,29,Alta Floresta,BR,77.38,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
18,113,Salinopolis,BR,78.67,few clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
24,137,Touros,BR,76.57,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
39,186,Natal,BR,75.58,scattered clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
62,272,Olinda,BR,78.53,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
71,289,Cabedelo,BR,75.87,clear sky,-6.9811,-34.8339,Pousada Camboinha
85,336,Carutapera,BR,75.61,broken clouds,-1.1950,-46.0200,Lidera
93,366,Itarema,BR,76.68,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
106,409,Belem De Sao Francisco,BR,76.50,few clouds,-8.7539,-38.9658,Village Hotel
138,545,Coruripe,BR,75.07,few clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
139,555,Oriximina,BR,75.13,scattered clouds,-1.7656,-55.8661,Pousada Tia Amélia
143,565,Camocim,BR,76.66,broken clouds,-2.9022,-40.8411,Ilha Praia Hotel
146,579,Maragogi,BR,76.24,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
159,644,Bayeux,BR,75.83,few clouds,-7.1250,-34.9322,Infinity Motel

In [6]:
vacation_df[["City","Country"]]

              City Country
0         Bengkulu      ID
1    Alta Floresta      BR
2       Butaritari      KI
3             Ibra      OM
4         Meulaboh      ID
..             ...     ...
168     La Pintada      CO
169         Anloga      GH
170    Albertville      US
171         Dwarka      IN
172       Pochutla      MX

[173 rows x 2 columns]

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Olinda"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Olinda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Bayeux"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Cabedelo"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Natal"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
62,272,Olinda,BR,78.53,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda

In [8]:
vacation_start.to_numpy

<bound method DataFrame.to_numpy of     City_ID    City Country  Max Temp Current Description     Lat      Lng  \
62      272  Olinda      BR     78.53    scattered clouds -8.0089 -34.8553

                  Hotel Name
62  Flat Quatro Rodas Olinda  >

In [9]:
start = vacation_start[["Lat","Lng"]].to_numpy()
start[0,0],start[0,1]

(-8.0089, -34.8553)

In [10]:
start = vacation_start["Lat"]
start.dtypes

dtype('float64')

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start[["Lat","Lng"]].to_numpy()[0,0],vacation_start[["Lat","Lng"]].to_numpy()[0,1]))
end = ((vacation_end[["Lat","Lng"]].to_numpy()[0,0],vacation_end[["Lat","Lng"]].to_numpy()[0,1]))
stop1 = ((vacation_stop1[["Lat","Lng"]].to_numpy()[0,0],vacation_stop1[["Lat","Lng"]].to_numpy()[0,1]))
stop2 = ((vacation_stop2[["Lat","Lng"]].to_numpy()[0,0],vacation_stop2[["Lat","Lng"]].to_numpy()[0,1]))
stop3 = ((vacation_stop3[["Lat","Lng"]].to_numpy()[0,0],vacation_stop3[["Lat","Lng"]].to_numpy()[0,1]))

In [12]:
import gmaps.datasets

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
direction_layer = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='BICYCLING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,272,Olinda,BR,78.53,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
1,644,Bayeux,BR,75.83,few clouds,-7.1250,-34.9322,Infinity Motel
2,289,Cabedelo,BR,75.87,clear sky,-6.9811,-34.8339,Pousada Camboinha
3,186,Natal,BR,75.58,scattered clouds,-5.7950,-35.2094,Villa Park Hotel | Natal

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(20.0,21.0),zoom_level=1.0)
marker_layer = gmaps.marker_layer(locations, info_box_content =hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))